.container {
    width: 60vw;
    margin: 10 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.container {
  border: 3px solid rgb(111, 255, 109);
  background-color: aliceblue;
  }